ion-img{
  height: 95px;
  width: 75px;
  margin: 5px 0px;
}
.content-tool-bar{
  display: flex;
  align-items: center;
  background-color: transparentize($color: #355da7, $amount: 0.15);
  text-align: center;
  justify-content: space-between;
}
.size-select{
  width: 200px;
  height: 50px;
  margin: 0 25px;
}

.size-button{
  margin-right: 25px;
  width: 50px;
  height: 50px;
}
.size-icon{
  width: 30px;
  height: 30px;
}
.text-control{
  text-align: center;
  margin-left: 25%;
  margin-right: 15%;
  color: whitesmoke;
  text-transform: uppercase;
}
