.new-header-color {
    --background: rgba(251, 176, 59, 1);
    --background: -moz-linear-gradient(top, rgba(251, 176, 59, 1) 0%, rgba(218, 90, 39, 1) 100%);
    --background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251, 176, 59, 1)), color-stop(100%, rgba(218, 90, 39, 1)));
    --background: -webkit-linear-gradient(top, rgba(251, 176, 59, 1) 0%, rgba(218, 90, 39, 1) 100%);
    --background: -o-linear-gradient(top, rgba(251, 176, 59, 1) 0%, rgba(218, 90, 39, 1) 100%);
    --background: -ms-linear-gradient(top, rgba(251, 176, 59, 1) 0%, rgba(218, 90, 39, 1) 100%);
    --background: linear-gradient(to bottom, rgba(251, 176, 59, 1) 0%, rgba(218, 90, 39, 1) 100%);
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fbb03b', endColorstr='#da5a27', GradientType=0);
    color: #f3f3f3;
  }
  
  .center {
    text-align: center;
  }
  
  ion-img {
    height: 95px;
    width: 75px;
    margin: 5px 20px;
  }
  
  .content-tool-bar {
    display: flex;
    align-items: center;
    background-color: #355da7;
    text-align: end;
  }
  
  .size-select {
    width: 220px;
    height: 50px;
    margin: 0px;
  }
  
  .size-button {
    margin-right: 25px;
    width: 50px;
    height: 50px;
  }
  
  .size-icon {
    width: 30px;
    height: 30px;
  }
  
  .text-control {
    text-align: center;
    margin-left: 25%;
    margin-right: 15%;
  }
  
  .date-control {
    padding-left: 0px;
    margin-right: 25px;
    margin-left: 0px;
    color: whitesmoke;
  }
  